.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
  margin-bottom: 3px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: #3792ab;
  color: white;
  max-width: 180px;
}
